# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Compiled Java files
*.class

# Log files
*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Java crash logs
hs_err_pid*
replay_pid*

# Operating system files
.DS_Store
Thumbs.db
